<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>All Users</title>
    </head>
    <body>
    <table border="1" align="center">
        <tr>
            <th>Id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
        </tr>
        <div th:each="user : ${users}">
            <tr>
                <td><p th:text="${user.id}">Id</p></td>
                <td><p th:text="${user.firstName}">firstName</p></td>
                <td><p th:text="${user.lastName}">lastName</p></td>
                <td><p th:text="${user.email}">email</p></td>
                <td>
                    <a th:href="@{/admin/{id}/edit(id=${user.getId()})}">Edit</a>
                    <form th:method="post" th:action="@{/admin/{id}/delete(id=${user.getId()})}">
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
        </div>
    </table>
        <a href="/users/">Home page</a>
        <a href="/admin/new">Create new user</a><br><br>
        <a href="/logout">Logout</a><br><br>
    </body>
</html>